<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <ul class="social-buttons"></ul>
          <li class="social-button"></li><%= link_to root_path, class: "social_links2" do %>
          <%= content_tag(:i, "", class: "fa fa-home fa-3x") %>
          <% end %></li>
          <li class="social-button"></li><%= link_to "http://linkedin.com/in/daemien-ho", class: "social_links2", target: "blank" do %>
              <%= content_tag(:i, "", class: "fa fa-linkedin fa-3x") %>
              <% end %></li>
          <li class="social-button"></li><%= link_to root_path, class: "social_links2" do %>
              <%= content_tag(:i, "", class: "fa fa-envelope fa-3x") %>
              <% end %></li>
          <li class="social-button"></li><%= link_to "https://github.com/Dimmaaah", class: "social_links2", target: "blank" do %>
                <%= content_tag(:i, "", class: "fa fa-github fa-3x") %>
                <% end %></li>
        </ul>
      </div>
    </div>
  </div>
</div>


