<div class="white page_projects">	
	<div class="container">
		<div class="projects">
		<%= link_to "http://www.healthyworkers.nl" do %>
		<h1><p><%= t 'project.healthyworkers' %></p></h1>
			<iframe src="https://player.vimeo.com/video/167265377" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			<% end %>
		</div>
	<div class="container">
		<div class="project-information">
			<h3><p><%= t 'project.healthyworkers_p1' %></p></h3> 
			<br>
			<p><%= t 'project.healthyworkers_p2' %></p>
			<p><%= t 'project.healthyworkers_p3' %></p>
		</div>
			<%= link_to(t('knop.bezoek2'), "http://healthyworkers.nl", class: "btn btn-danger ruimte") %>
<br><br><hr>
			<p><%= t 'knop.bezoek3' %><%= link_to "http://bssa.nu/impression-design-sprint-bssa-lab-healthy-workers/" do %> BSSA<% end %>
			</p>
			</div>

			
		</div>
</div>
