<div class="project_banner">
  <a id="seemore" href="#" class="btn btn-default">See All Projects!</a>
</div>
<div class="white">
<div class="container">
  <div id="new" class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="card"><%= link_to projects_rubyrubyruby_path, class: "link1" do %>
      <img class="card-img-top" src="<%= image_path('rubyrubyruby.png') %>" />
        <div class="card-block">
          <h4 class="card-title">RubyRubyRuby</h4>
          <% end %>
          <p class="card-text"><%= t'project.description_1' %></p>
          <%= link_to projects_rubyrubyruby_path, class: "btn btn-primary" do %>
          <%= t 'knop.leesmeer' %>
          <% end %>
        </div>
      </div>
    </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="card">
    <%= link_to projects_healthyworkers_path, class: "link1" do %>
      <img class="card-img-top" src="<%= image_path('healthyworkers.png') %>" />
      <div class="card-block">
        <h4 class="card-title">Healthy Workers</h4>
        <% end %>
        <p class="card-text"><%= t 'project.description_2' %></p>
         <%= link_to projects_healthyworkers_path, class: "btn btn-primary" do %>
          <%= t 'knop.leesmeer' %>
          <% end %>
      </div>
    </div>
  </div>
</div>
</div>
</div>


<!-- #a web application made for ruby user to find or place vacancies relavant to ruby user. you can easily apply  -->