<div class="white">	
	<div class="container">
		<h1>RubyRubyRuby</h1>
		<div class="projects">
			<img class="card-img-top" src="<%= image_path('rubyrubyruby.png') %>" />
		</div>

		<p><%= t 'project.rubyrubyruby' %></p>
		<p><%= t 'project.rubyrubyruby_p2' %></p>
		<p><%= t 'project.rubyrubyruby_p3' %></p>

		<%= link_to(t('knop.bezoek'), "http://rubyrubyruby.com", class: "btn btn-danger pull-right") %>
	</div>
</div>