<div class="white page_projects">	
	<div class="container">
		<div class="projects">
		<%= link_to "http://www.rubyrubyruby.com" do %>
		<h1><p><%= t 'project.rubyrubyruby' %></p></h1>
			<img class="card-img-top" src="<%= image_path('rubyrubyruby.png') %>" />
			<% end %>
		</div>
	<div class="container">
		<h3><p><%= t 'project.rubyrubyruby_p1' %></p></h3> 
		<br>
		<p><%= t 'project.rubyrubyruby_p2' %></p> 
		<p><%= t 'project.rubyrubyruby_p3' %></p>
		</div>
		<%= link_to(t('knop.bezoek1'), "http://www.rubyrubyruby.com", class: "btn btn-danger ruimte", target: "blank") %>

		<%= link_to(t('knop.bezoek'), "https://github.com/Dimmaaah/rubyrubyruby", class: "btn btn-danger ruimte", target: "blank") %>
		<br><br>
	</div>
</div>