<!DOCTYPE html>
<html>
  <head>
    <title>DaemienPortfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">

<!-- google fonts-->
<link href="https://fonts.googleapis.com/css?family=Supermercado+One" rel="stylesheet">
  </head>

  <body>

  	<%= render 'shared/navbar'  %>
    <%= yield %>
    <%= render 'shared/footer'  %>



   <script type="text/javascript">
  // $('#section_about').show(function() {
  //   $('#about_me').prependTo($('.rnder'))
  //  });





  $(document).ready(function() {
    $('#section_about').hide(function() {
      $('.white, #readmore').mouseenter(function() {
        $('#section_about').show(3000), $('h2#about_me').addClass("transparant")
    });
  });
});

  $(document).ready(function() {
    $('#div_icons').hide(function() {
      $('#tools').mouseenter(function() {
        $('#div_icons').slideDown("fast")
      });
    });
  });

$(document).ready(function() {
  $("#seemore").on("mouseenter", function() {
    $("html,body").animate({"scrollTop":$("#new").offset().top},1500);
    return false;
  });
});


$(function() {
  $("#readmore").on("mouseenter", function() {
    $("html,body").animate({"scrollTop":$("#about_me").offset().top},2500);
    return false;
  });
});
</script>
  </body>
</html>
